body {
    height: 100vh;
    margin: 0;
    
  }

  a {
    text-decoration: none;
  }
  
  a, .hero-text {
    color: #e5e7eb;
    font-size: 18px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 16px;
  }
  
  .logo {
    font-size: 24px;
    color: #f9faf8;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 50vh;
  }
  
  .header, .footer{
    background: #1f2937;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 50vh;
    color: #e5e7eb;
  }

  .hero {
    background: #1f2937; 
    padding: 100px 50vh;
    display: flex;
  }
  
  .hero-left {
    flex: 1;
    padding-right: 32px;
  }
  
  h1 {
    padding: 0;
    margin: 0;
  }
  
  .hero-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9faf8;
  }
  
  .sign-up {
    background: #3882F6;
    color: white;
    padding: 5px 16px;
    border: 0;
    border-radius: 5px;
  }
  
  
  .hero-right {
    flex: 1;
    background: white;
  }
  
  .hero-image {
    background: grey;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }