body {
    height: 100vh;
    margin: 0;
    
  }

  a {
    text-decoration: none;
  }
  
  a, .hero-text {
    color: #e5e7eb;
    font-size: 18px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 16px;
  }
  
  .logo {
    font-size: 24px;
    color: #f9faf8;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 50vh;
  }
  
  .header, .footer{
    background: #1f2937;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 50vh;
    color: #e5e7eb;
  }

  .hero {
    background: #1f2937; 
    padding: 100px 50vh;
    display: flex;
  }
  
  .hero-left {
    flex: 1;
    padding-right: 32px;
  }
  
  h1 {
    padding: 0;
    margin: 0;
  }
  
  .hero-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9faf8;
  }
  
  .sign-up {
    background: #3882F6;
    color: white;
    padding: 5px 16px;
    border: 0;
    border-radius: 5px;
  }
  
  
  .hero-right {
    flex: 1;
    background: white;
  }
  
  .hero-image {
    background: grey;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .info {
    padding: 0 50vh;
    padding-bottom: 100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  
  .info-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
  }
  
  .info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 52px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
  }

  .card-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 1px black solid;
  }

  .quote {
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    padding: 100px 50vh;
  }
  
  
  
  .quote-text, .quote-name {
    margin: 0;
    padding: 0;
  }
  
  .quote-text {
    font-size: 36px; 
    color: #1f2937;
    font-style: italic;
  }
  
  .quote-name {
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    padding-right: 50px;
    font-size: 20px;
  }